.wrapper {
  width: 100%;
}

.features {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.wrapper .carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.carousel .card {
  text-align: center;
  color: #CCDCD6;
  margin: 20px 0;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0 2rem 2rem 2rem;
  height: 50vh;
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .carousel .card {
    height: 70vh;
  }
}

.header-scrolled {
  background-color: #0a2729;
  box-shadow: 0 3px 10px rgba(10, 39, 41, 0.1);
}

.header {
  width: 100%;
  background-color: none;
  position: fixed;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: all 0.3s;
}
.header .logo_head {
  margin-left: 30px;
  text-decoration: none;
  font-family: "Phudu", cursive;
  color: #F2AD14;
  font-weight: 500;
  font-size: 3rem;
}
.header nav {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}
.header nav ul .list_item {
  font-family: "Red Hat Display", sans-serif;
  padding: 12px;
  margin-left: 20px;
}
.header nav ul .list_item .book_now {
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  background-color: #F2AD14;
  border-radius: 27px;
  color: #0d2f31;
  font-size: 2rem;
  font-weight: 800;
  padding: 8px 17px;
}
.header nav ul .list_item .link-head {
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  color: #F2AD14;
  font-size: 2rem;
  font-weight: 700;
}

main .first_sect {
  background-color: #0d2f31;
  display: flex;
  justify-content: space-between;
  height: 90vh;
}
main .first_sect .first_part {
  align-self: center;
  margin-left: 30px;
}
main .first_sect .first_part .h1_title {
  color: #F2AD14;
  font-family: "Phudu", cursive;
  font-size: 7rem;
  font-weight: 600;
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  main .first_sect .first_part .h1_title {
    font-size: 5vw;
  }
}
main .first_sect .first_part .p_title {
  color: #F2AD14;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
main .main_section {
  background-color: #F2AD14;
  padding-bottom: 4rem;
  padding-top: 10vh;
  height: 110vh;
}

.boton_middle {
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  background-color: #A70713;
  border-radius: 27px;
  color: #F2AD14;
  font-size: 3rem;
  font-weight: 800;
  margin-top: 20px;
  padding: 10px 18px;
}

.title_services {
  margin-right: 20px;
}

.h2_title {
  color: #A70713;
  font-family: "Phudu", cursive;
  font-size: 4rem;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 40px;
}

.h3_cards {
  color: #0d2f31;
  font-family: "Phudu", cursive;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}

.h3_cards--styling {
  color: #0d2f31;
  font-family: "Phudu", cursive;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.icons {
  color: #0d2f31;
  font-size: 4.5rem;
  padding-bottom: 30px;
  padding-top: 4rem;
}

.p_card {
  color: #0d2f31;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.footer {
  background-color: #A70713;
  padding-top: 10vh;
  padding-bottom: 7rem;
}
.footer .h2_footer {
  color: #F2AD14;
  font-family: "Phudu", cursive;
  font-size: 4rem;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 20px;
}
.footer .p_footer {
  color: #F2AD14;
  font-family: "Red Hat Display", sans-serif;
  font-size: 2rem;
  margin-left: 30px;
  margin-bottom: 5rem;
}
.footer .boton_footer {
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  background-color: #F2AD14;
  border-radius: 27px;
  color: #A70713;
  font-size: 3rem;
  font-weight: 800;
  padding: 10px 18px;
  margin-left: 30px;
}

.iconos_footer {
  margin-top: 8rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
}
.iconos_footer .icon_footer {
  color: #F2AD14;
  font-size: 4rem;
  padding: 0 2rem;
}

.icon_svg {
  height: 115px;
  padding-bottom: 30px;
  padding-top: 4rem;
}

@media screen and (max-width: 1200px) {
  .logo_head {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .header ul {
    padding: 0;
  }
}
@media screen and (max-width: 992px) and (orientation: portrait) {
  .header .nav {
    margin-right: 0px !important;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0 2rem;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
  }
  .first_sect .h1_title {
    font-size: 16vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 20px;
  }
  .first_sect .imagen_gr {
    display: none;
  }
  .list_item {
    margin-left: 0 !important;
  }
  .book_now {
    font-size: 2rem;
  }
  .carousel .card {
    height: 40vh;
  }
  .wrapper {
    margin-bottom: 10vh;
  }
  main .main_section {
    height: 80vh;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding-right: 2rem;
  }
  .h1_title {
    font-size: 12vw;
    text-align: left;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .header .nav {
    margin-right: 0px !important;
  }
  .first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0 2rem;
  }
  .first_sect .first_part {
    margin-left: 0 !important;
  }
  .first_sect .h1_title {
    font-size: 6vw !important;
    align-self: center;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .first_sect .imagen_gr {
    display: none;
  }
  .list_item {
    margin-left: 0 !important;
  }
  .book_now {
    font-size: 2rem;
  }
  main .main_section {
    height: 130vh;
  }
}
* {
  padding: 0;
  margin: 0;
}

html {
  /* para que un rem quede en 10 px */
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
