//bases

@import './bases/variables';

//componentes

@import './components/carousel';
@import './components/basics';


* {
    padding: 0;
    margin: 0;
}

html {
    /* para que un rem quede en 10 px */
    font-size: 62.5%; 
}

html {
    scroll-behavior: smooth;
  }

