.wrapper {
    width: 100%;

}

.features {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.wrapper .carousel {
   max-width: 1200px; 
   margin: auto;
   padding: 0 30px;
}

.carousel .card {
  text-align: center;
  color: white;
  margin: 20px 0;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}