@media screen and (max-width: 1200px) {

    .logo_head {
        display: none;
    }

    .header {
        justify-content: center;

        ul {
            padding: 0;
        }
    }
    


}




@media screen and (max-width: 992px) and (orientation: portrait) {

.header .nav {
    margin-right: 0px !important;
}
.first_sect {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0 2rem;

    .first_part {
        margin-left: 0 !important;
    }

    .h1_title {
        font-size: 16vw !important;
        align-self: center;
        text-align: left;
        margin-bottom: 20px;
    }

    .imagen_gr {
        display: none;
    }
    
}  

.list_item {
    margin-left: 0 !important;
}

.book_now {
    font-size: 2rem;
}

.carousel .card {
    height: 40vh;
}

.wrapper {
    margin-bottom: 10vh;
}

main .main_section {
    height: 80vh;
}
    
}

@media screen and (max-width: 576px) {

.footer {
    padding-right: 2rem;
}
.h1_title {
    font-size: 12vw;
    text-align: left;
}

}

@media screen and (max-width: 992px) and (orientation: landscape) {

    .header .nav {
        margin-right: 0px !important;
    }
    .first_sect {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 0 2rem;
    
        .first_part {
            margin-left: 0 !important;
        }
    
        .h1_title {
            font-size: 6vw !important;
            align-self: center;
            text-align: left;
            margin-bottom: 20px;
            margin-top: 30px;
        }
    
        .imagen_gr {
            display: none;
        }

    }  
    
    .list_item {
        margin-left: 0 !important;
    }
    
    .book_now {
        font-size: 2rem;
    }

    main .main_section {
        height: 130vh;
    }

    
}